:root {
	--book-cover-color: #7c1f3b;
	--book-paper-color: #d8d6c6;
	--book-altpaper-color: #ecebe4;
	--book-text-color: #443311;
	--book-link-color: #AA2600;
	--book-visited-color: #CC2600;
	--finger-size: 8mm;
	--font-size: 16px;
	--menufade-hidden: 0.20;
	--bgridAnchor-top: 0;
	--bgridAnchor-bottom: unset;
	--bgridAnchor-left: unset;
	--bgridAnchor-right: 0;

	--menuside-open-top: unset;
	--menuside-open-bottom: 0;
	--menuside-open-left: unset;
	--menuside-open-right: 0;
	--menuside-close-top: unset;
	--menuside-close-bottom: -100%;
	--menuside-close-left: unset;
	--menuside-close-right: -100%;

	--terminal-margin: 0%;
	--terminal-sb-display: flex;
	--terminal-sb-width: none;
	--terminal-sb-visibility: hidden;
}

.menuhandler {
	justify-content: center;
	align-items: center;
	font-size: var(--font-size);
}

.menuhandler div {
	/* if you want all of the menu elements to stand out... */
	/* background: rgba(255,0,0,0.5); */
}

#menubox {
	bottom: var(--bgridAnchor-bottom);
	left: var(--bgridAnchor-left);
	margin: calc(var(--finger-size)/3.0);
	opacity: var(--menufade-hidden);
	position: absolute;
	right: var(--bgridAnchor-right);
	top: var(--bgridAnchor-top);
	transition: opacity 4s ease-in-out;
	visibility: visible;
	z-index: 12;
	/* background: var(--book-paper-color); */
	border-color: var(--book-cover-color);
	border-radius: calc(var(--finger-size)/3.0);
	border-style: solid;
	border-width: 1mm;
}

#menubox:hover {
	opacity: 1.0;
	transition: opacity 0.25s ease-in-out;
}

.menugrid {
    display: grid;
    grid-gap: 0mm;
	background: #00000080;
}

.menugrid *:hover{
    background: rgba(64,64,64,0.5);
}

.menugrid *:active{
    background: rgba(128,128,128,0.5);
}



#menubox .ansi0               {                            }
#menubox .ansi1               { fill:            #fd233e; }
#menubox .ansi2               { fill:            #1cbd30; }
#menubox .ansi3               { fill:            #b4a543; }
#menubox .ansi4               { fill:            #7575ff; }
#menubox .ansi5               { fill:            #ea5685; }
#menubox .ansi6               { fill:            #28cdcd; }
#menubox .ansi7               { fill:            #e4e4e4; }
#menubox .ansi8               { fill:            #FFFFFF; }
#menubox .ansi9               { fill:            #ff566e; }
#menubox .ansi10              { fill:            #5cff71; }
#menubox .ansi11              { fill:            #ffffb4; }
#menubox .ansi12              { fill:            #4ea0e4; }
#menubox .ansi13              { fill:            #ff95db; }
#menubox .ansi14              { fill:            #87e4e4; }
#menubox .ansi15              { fill:            #FFFFFF; }
#menubox .ghost               { fill:            #888888; }

.menu {
	/* text="#443311" bgcolor="#688F9E" link="#cc2600" vlink="#aa2600" alink="#ffb76c" */
	border: none;
	/* background: rgba(255,0,0,0.5); */
	min-height: fit-content;
}

.menu button {
	background: inherit;
	border: inherit;
	color: inherit;
	display: block;
	width: 100%;
}


.menubar {
	top: 1em;
	right: 1em;
	float: right;
	clear: none;
	/* width: 100%; */
	overflow: visible;
	position: fixed;
	z-index: 12;
	visibility: hidden;
}

.menubar button {
	display: inline;
	width: initial;
	padding: 1em;
}

.menubutton {
	color: var(--book-altpaper-color);
	font-size: var(--finger-size);
	text-align: center;
	align-content: center;
	font-weight: bold;
	font-family: LOFont, emoji, Noto Sans Symbols2;
	direction: initial;
	rotate: 0deg;
	transition: rotate 0.5s ease-out;
	transition: scale 0.5s ease-out;
}

.menubutton:hover {
	rotate: 0deg;
	scale: 1.25;
	transition: scale 0.1s ease-out;
	transition: rotate 0.1s ease-out;
	background: transparent;
}
.menubutton:active {
	rotate: 33deg;
	transition: rotate 0.1s ease-out;
	background: transparent;
}

.menuside {
	float: right;
	clear: none;
	min-width: calc(var(--finger-size) * 3);
	/* min-height: calc(var(--finger-size) * 3); */
	min-height: fit-content;
	position: fixed;
	display: block;
	visibility: hidden;
	transition: all 0.15s ease-in-out;
	z-index: 12;
	font-size: var(--font-size);
}

.menuside button {
	display: block;
	width: 100%;
	margin: 1em auto;
	border-width: 1px 0px 1px 0px;
	padding: 1em;
	margin: 0em;
}

.menuside button:hover {
}

.menuside-open {
	top:	var(--menuside-open-top);
	bottom:	var(--menuside-open-bottom);
	left:	var(--menuside-open-left);
	right:	var(--menuside-open-right);
}

.menuside-close {
	top:	var(--menuside-close-top);
	bottom:	var(--menuside-close-bottom);
	left:	var(--menuside-close-left);
	right:	var(--menuside-close-right);
}

.menuside div {
	align-content: center;
	background: var(--book-paper-color);
	border-color: var(--book-cover-color);
	border-radius: calc(var(--finger-size)/3.0);
	border-style: solid;
	border-width: 1mm;
	display: flex;
	flex-wrap: wrap;
	margin: 0.5mm;
	min-height:	var(--finger-size);
	padding: 1.0mm;
}

.menuside div:hover {
	/* background: hsla(0,0%,35%,0.80); */
	opacity: 75%;
}

.menuside div:active {
	/* background: hsla(0,0%,45%,0.80); */
	opacity: 75%;
}

.menuside .open {
	text-transform: capitalize;
	color: var(--book-text-color);
}

.menuside .send {
	font-weight: bold;
	color: var(--book-link-color);
	text-transform: capitalize;
	font-style: italic;
}

.menuside .wordstack {
	text-transform: none;
}


.menuside .client {
	color: var(--book-cover-color);
	text-transform: capitalize;
}

.menuicon {
	display: inline-block;
	margin: 2.0mm;
	max-width: var(--finger-size);
	max-height: var(--finger-size);
	width: auto;
	height: auto;
	fill: white;
}

.menuicon:hover {
	background: none;
}


.overlay {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 12;
	width: 100%;
	height: 100%;
	visibility: hidden;
}

.menupop {
	align-items: center;
	background: var(--book-paper-color);
	border-color: var(--book-cover-color);
	border-radius: calc(var(--finger-size)/2.0);
	border-style: solid;
	border-width: 1mm;
	color: var(--book-text-color);
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	margin: calc(var(--finger-size)/2.0);
	max-height: 80%;
	max-width: 80%;
	overflow: auto;
	padding: calc(var(--finger-size)/2.0);
	padding-top: calc(var(--finger-size)/4.0);
	position: relative;
	/* text-transform: capitalize;*/
	min-width: 33%;
}

.menupop .genericcheckbox {
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.menupop div {
	display: grid;
	padding: 1mm;
	overflow: auto;
}

.menupop figure {
	display: flex;
	justify-items: center;
	margin: 0em;
	flex-direction: column;
	align-items: center;
}

.menupop .textflow {
	display: block;
	padding: 1mm;
	overflow: auto;
}

.textflow h1 {
	font-size: calc(var(--font-size)*1.5);
	font-weight: bold;
	text-align: center;
	color: var(--book-cover-color);
}

.imgcontainer {
	justify-content: center;
}

.siteicon {
	width: calc(var(--finger-size) * 4.0);
	max-width: calc(var(--finger-size) * 4.0);
	max-height: calc(var(--finger-size) * 4.0);
	aspect-ratio: auto;
}

div.stdlink {
	display: flex;
	align-items: center;
	min-height: var(--finger-size);
	justify-content: center;
	column-gap: 0.5em;
	flex-wrap: wrap;
}

a.stdlink {
	color: var(--book-link-color);
}

label.stdlink {
}

.gameabout {
	display: flex;
	flex-direction: column;
	align-items: center;
}

a.gameabout {
	min-height: var(--finger-size);
	color: var(--book-link-color);
}

figure.gameabout {
	display: grid;
	justify-items: center;
}

button.gameabout {
	width: 90%;
}

div.gameabout {
}

	
.gamename {
	font-weight: bold;
	font-size: calc(var(--font-size) * 1.1);
	color: var(--book-cover-color);
	margin: 0.5em;
	text-transform: capitalize;
}

.gamehost {
	font-weight: normal;
	font-style: normal;
	font-size: calc(var(--font-size)*.66);
	margin: 0.5em;
	text-transform: lowercase;
}

.menupop select,
.menupop input,
.menupop textarea,
.menupop input.checkbox,
.menupop button {
	min-height: calc(var(--finger-size)/1.0);
	min-width: calc(var(--finger-size)/1.0);
	font-size: var(--font-size);
	background: var(--book-altpaper-color);
	border-color: var(--book-cover-color);
	border-radius: calc(var(--finger-size)/4.0);
	border-style: solid;
	color: var(--book-text-color);
}

.menupop button {
	width: 100%;
}

.menupop ul {
	list-style: none;
	margin-block-start: 0em;
}

.close {
	position: absolute;
	right: 2mm;
	top: 0;
	font-size: var(--finger-size);
	font-weight: bold;
	color: var(--book-cover-color);
	min-height: var(--finger-size);
	min-width: var(--finger-size);
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.menupop .titlebar {
    color: var(--book-cover-color);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    min-height: var(--finger-size);
    width: 100%;
    border-bottom: var(--book-cover-color);
    border-bottom-width: 0.5mm;
    /*border-bottom-style: solid;*/
}

.menupop .titlebar .close {
	position: relative;
	/* right: 2mm; */
	/* top: 0; */
}



.menufield {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 2mm;
	min-height: var(--finger-size);
}

.menufield label {
	min-height: var(--finger-size);
}

.menupop .gamelist {
	border-color: var(--book-cover-color);
	border-radius: calc(var(--finger-size)/4.0);
	border-style: solid;
	background: var(--book-altpaper-color);
	max-height: calc(var(--finger-size)*8);
	min-height: calc(var(--finger-size)*2);
	min-width: 16em;
	overflow-y: auto;
	margin: 1mm;
}

.gamelist tr {
	height: calc(var(--finger-size));
	text-transform: capitalize;
}

.gamelist tr:nth-child(even) {
	background: var(--book-paper-color);
}

.genericbutton button {
	/* width: 80%; */
	height: calc(var(--finger-size));
}
.genericbutton {
	justify-items: center;
}

/* try and match .menuside .send */
.hotkeylabel input {
	font-weight: bold;
	color: var(--book-link-color);
	text-transform: capitalize;
	font-style: italic;
}

.hotkeymacro textarea {
	background: var(--book-altpaper-color);
}

.generic_details {
    align-content: center;
	
	min-height: calc(var(--finger-size)/1.0);
	min-width: calc(var(--finger-size)/1.0);
	font-size: var(--font-size);
	background: var(--book-altpaper-color);
	border-color: var(--book-cover-color);
	border-radius: calc(var(--finger-size)/4.0);
	border-style: solid;
	color: var(--book-text-color);
	border-width: 1px;
	margin: 0.5mm;
}

.generic_details:open {
	background: var(--book-paper-color);
	overflow-x: auto;
}

.generic_details > summary {
	align-content: center;
	min-height: calc(var(--finger-size)/1.0);
	min-width: calc(var(--finger-size)/1.0);
	border-radius: calc(var(--finger-size)/4.0);
	border-width: 0 0 0.5mm 0;
	background: var(--book-altpaper-color);
}

.generic_details > summary::marker {
	color: var(--book-cover-color);
}

.generic_details > table {
	width: 100%;
}

.generic_details > table > tr {
	background: var(--book-altpaper-color);
}
.generic_details > table > tr:nth-child(1) {
	background: var(--book-paper-color);
}

