# CVS default ignores begin
tags
TAGS
.make.state
.nse_depinfo
*~
\#*
.#*
,*
_$*
*$
*.old
*.bak
*.BAK
*.orig
*.rej
.del-*
*.a
*.olb
*.o
*.obj
*.so
*.exe
*.Z
*.elc
*.ln
core
# CVS default ignores end
client/dist/
client/node_modules/
dist/
server/src/cscope.out
server/src/local.conf
server/src/locid.prev
lociterm
server/src/build/
server/src/locid
